@import '~nprogress/nprogress.css';
$acc: #fff;

html, body, #three-ctn{
  height: 100%;
  width: 100%;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  //background: $background-color;
  color: $font-color;
  line-height: 1.4;
}

body {
  margin: auto;
  text-align: center;
  background: rgb(58,18,66);
  background: radial-gradient(circle, rgba(58,18,66,1) 18%, rgba(33,138,166,1) 100%);
}

h1 {
  margin: 0 0 2rem;
}

#nprogress{
  position: relative;
  z-index: 4;
  .bar{
    background: $acc; height: 5px;
  }
  .peg{
    box-shadow: 0 0 10px $acc, 0 0 5px $acc;
  }
  .spinner-icon{
    border-top-color: $acc;
    border-left-color: $acc;
  }
}